[Desktop Entry]
Name=Lens
Exec={{ lens_executable }} %U
Terminal=false
Type=Application
Icon=/usr/share/icons/lens.svg
StartupWMClass=Lens
Comment=Lens - The Kubernetes IDE
MimeType=x-scheme-handler/lens;
Categories=Network;
